<h2>The waiter arrives, smiling, and hands your table the check. That's right--you and your 7 friends are given just one check.</h2>
<h3> Therefore, we've made this app to help you calculate the total after your tip and to charge friends through Venmo for their contribution.
</h3>

<%= render 'form' %>

<%= link_to 'Back', transactions_path %>
